---
import Lightbox, {type Props} from "./Lightbox.astro"
import {toCssUnit} from "@src/util/toCssUnit.ts"

const {src, alt, thumbnailWidth=200, maxWidth} = Astro.props
---

<div class="flag">
  <div
    style={`width: min(${toCssUnit(thumbnailWidth)}, 100%)`}
    >
  <Lightbox class="img" src={src} alt={alt}
    thumbnailWidth={thumbnailWidth} maxWidth={maxWidth} />
  </div>
  <div class="content"><slot/></div>
</div>

<style>
  .flag {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--sl-content-gap-y);
    align-items: flex-start;

    @media (width >= 600px) {
      flex-direction: row;
    }
  }

  .content{
    flex: 1 ;
    margin-block: 0;
  }
</style>
